{% extends 'admin/base.html' %}

{% block body %}
<form method="GET" action="/">
  <div class="form-group"> {{ form.subreddit.label }} {{ form.subreddit(class_="form-control") }} </div>
  <div class="form-group"> {{ form.sort_mode.label }} {{ form.sort_mode(class_="form-control") }} </div>
  <div class="checkbox"> <label>{{form.disable_cache(type='checkbox')}}{{form.disable_cache.label}}</label></div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% if entry %}
<div>
  {{pagination_section(info=False)}}
    {% for thread_model in entry.thread_models %}
      <table class="table table-condensed table-bordered">
	<tr>
	  <th>Permalink</th>
	  <td>{{anchor_tag(thread_model.permalink.value, thread_model.permalink.value)}}</td>
	  <td>{{details_button(thread_model.permalink, class_="permalink-details")}}</td>
	</tr>
	<tr>
	  <th>URL</th>
	  <td>{{anchor_tag(thread_model.url.value, thread_model.url.value)}}</td>
	  <td>{{details_button(thread_model.url)}}</td>
	</tr>
	<tr> <th colspan="3">URL Sets</th> </tr>
      {% for url_set in thread_model.url_sets %}
	{% if url_set.set_type.value not in ['Directory', 'Version'] and url_set.extracted_url.value != url_set.url.value %}
	  {% if url_set.extracted_url.value and url_set.extracted_url != thread_model.url %}
	    <tr>
	      <td colspan="2">{{anchor_tag(url_set.extracted_url.value, url_set.extracted_url.value)}}</td>
	      <td>{{details_button(url_set.extracted_url)}}</td>
	    </tr>
	  {% endif %}
	  {% for e_url in url_set.extracted_urls %}
	    <tr>
	      <td colspan="2">{{anchor_tag(e_url.value, e_url.value)}}</td>
	      <td>{{details_button(e_url)}}</td>
	    </tr>
	  {% endfor %}
	{% endif %}
      {% endfor %}
      </table>
    {% endfor %}
  {{pagination_section(info=False)}}
</div>
{% endif %}
{% endblock %}

{% macro details_button(url_m, class_="details")%}
<a class="btn btn-default btn-xs {{class_}}" href="{{url_for('u.index', u=url_m.value)}}">Details</a>
{% endmacro %}

{% macro anchor_tag(href, text, class_="") %}
<a style=" display:block; width:70em; word-wrap:break-word" class="{{class_}}" href="{{href}}">{{text}}</a>
{% endmacro %}

{% macro pagination_section(info=True)%}
  {% if info %} {{ pagination.info }} {% endif %}
  {{ pagination.links }}
  {% if not pagination.has_next and entry %}
  <ul class="pagination">
    <li class="next">
      <a href="{{url_for('admin.index', subreddit=form.subreddit.data, sort_mode=form.sort_mode.data, page=pagination.page+1, disable_cache=form.disable_cache.data)}}">
	load next page
      </a>
    </li>
  </ul>
  {% endif %}
{% endmacro %}
