{% extends 'admin/base.html' %}

{% block body %}
<form method="GET" action="/">
  <div class="form-group"> {{ form.subreddit.label }} {{ form.subreddit(class_="form-control") }} </div>
  <div class="form-group"> {{ form.sort_mode.label }} {{ form.sort_mode(class_="form-control") }} </div>
  <div class="checkbox"> <label>{{form.disable_cache(type='checkbox')}}{{form.disable_cache.label}}</label></div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% if entries %}
<div>
  {{pagination_section()}}
  <table class="table table-condensed table-bordered">
    {% for entry in entries %}
      <tr><th>URL</th>
	<td>{{anchor_tag(entry.url.value, entry.url.value)}}</td>
	<td>{{details_button(entry.url)}}</td>
      </tr>
      {% if entry.extracted_urls and entry.extracted_urls.0.value != entry.url.value %}
      <tr><td>&nbsp;</td><th colspan="2">Extracted URLS</th></tr>
      {% for e_url in entry.extracted_urls %}
	<tr><td>&nbsp;</td><td colspan="1">{{anchor_tag(e_url.value, e_url.value)}}</td>
	  <td>{{details_button(e_url)}}</td>
	</tr>
      {% endfor %}
      {% endif%}
      {% if not loop.last %}
      <tr><td colspan="3">&nbsp;</td></tr>
      {% endif %}
    {% endfor %}
  </table>
  {{pagination_section()}}
</div>
{% endif %}
{% endblock %}

{% macro details_button(url_m)%}
<a class="btn btn-default btn-xs details" href="{{url_for('u.index', u=url_m.value)}}">Details</a>
{% endmacro %}

{% macro anchor_tag(href, text, class_="") %}
<a style=" display:block; width:70em; word-wrap:break-word" class="{{class_}}" href="{{href}}">{{text}}<a>
{% endmacro %}

{% macro pagination_section(info=True)%}
  {% if info %} {{ pagination.info }} {% endif %}
  {{ pagination.links }}
  {% if not pagination.has_next and entry %}
  <ul class="pagination">
    <li class="next">
      <a href="{{url_for('admin.index', subreddit=form.subreddit.value, sort_mode=form.sort_mode.value, page=pagination.page+1)}}">
	load next page
      </a>
    </li>
  </ul>
  {% endif %}
{% endmacro %}
